# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Proje klasörleri
uploads/*
downloads/*
temp/*
!uploads/.gitkeep
!downloads/.gitkeep
!temp/.gitkeep

# Sistem dosyaları
.DS_Store
Thumbs.db
.vscode/
.idea/ 